<div class="row mt-4 justify-content-center">
  <% if @event.advertisements.any? %>
  <%= render 'layouts/advertisement.html.erb', resource: @event, type: type %>
  <% end %>
  <% resources.each do |presentation| %>
  <div class="card mb-3" style="width: 500px; height: 267px; background-color: #098cff17;">
    <div class="row no-gutters">
      <div class="col-4 my-auto">
        <% if presentation.avatar.attached? %>
        <%= image_tag presentation.avatar.variant(resize_to_fit: [200, 200]), class: "card-img-presentation align-center", style: "padding: 0px;", alt: presentation.title %>
        <% else %>
        <%= image_tag asset_path('400.png'), class: "content-image" %>
        <% end %>
      </div>
      <div class="col-8">
        <div class="card-body d-flex flex-column">
          <h4 class="card-title-presentation"><%= presentation.title%></h4>
          <b class="index-card-style-text" ><%= presentation.name %></b>
          <p class="presentations-card"><%= presentation.description %></p>
        </div>
      </div>
    </div>
    <% if user_signed_in? && policy(presentation).show? %>
    <%= link_to 'Show', event_presentation_path(@event, presentation), class: "btn btn-primary btn-lg mt-auto" %>
    <% end %>
  </div>
  <% end %>
</div>
<%= render 'events/chatra_event', event: @event %>