<% content_for :banner_content do %>
<%= render 'layouts/banner_text' %>
<% end %>

<% content_for :main_navbar do %>
<%= render 'layouts/navbar' %>
<% end %>

<div class="banner">
  <div class="mx-auto">
    <h1>Virtual Expos platform</h1>
    <h2>(Aanlyn ekspo diensverskaffer)</h2>
  </div>
</div>
<main role="main">
  <div class="container">
    <div class="container marketing">
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Why host a Virtual Expo!</span>
          </h2>
          <ul class="lead">
            <li>No geographical limits</li>
            <li>No physical hassles</li>
            <li>No regulatory hurdles</li>
            <li>No travelling and accommodation</li>
            <li>No venue clashing dates</li>
            <li>Fewer Costs</li>
            <li>Easy search for appropriate info</li>
            <li>Lockdown Proof</li>
            <li>Include international exhibitors and sponsors</li>
            <li>Involve international presenters</li>
            <li>Flexible and on-demand program</li>
            <li>Attend from anyware</li>
            <li>Service more simultaneous attendees</li>
            <li>Unlimited scalability</li>
          </ul>
        </div>
        <div class="col-md-4">
          <%= image_tag asset_path('400.png'), class: "featurette-image img-fluid mx-auto" %>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-8 order-md-2">
          <h2 class="featurette-heading">Why choose Virtual Expos platform?</span></h2>
          <ul class="lead">
            <li>Unlimited exhibitors, presenters and attendees</li>
            <li>Affordable</li>
            <li>Less hassles</li>
            <li>More satisfaction</li>
            <li>Complete functionality</li>
            <li>Value added services and marketing</li>
            <li>Hands-on technical support</li>
            <li>Handles bookings and payments</li>
          </ul>
        </div>
        <div class="col-md-4 order-md-1">
          <%= image_tag asset_path('400.png'), class: "featurette-image img-fluid mx-auto" %>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-8">
          <h2 class="featurette-heading">Platform functionality</span></h2>
          <h4>Three log-in types:</h4>
          <ul class="lead">
            <li>Admin - expo organizers</li>
            <li>Exhibitors - to setup their stalls/booths and to man them during event</li>
            <li>Visitors/Attendees</li>
          </ul>
          <h4>Exhibitors:</h4>
          <ul class="lead">
            <li>Provides pre-registration or pre-booking information to potential exhibitors.</li>
            <li>Before the expo registered exhibitors can setup of own stall - marketing material, photo’s,
              videos etc.</li>
            <li>During the expo exhibitors can man their stalls and assist attendees that visit their stalls
              via a chatbox facility or even via a zoom audio or video call</li>
          </ul>
          <h4>Visitors:</h4>
          <ul class="lead">
            <li>Before or even the event has commenced, the public can register as attendees or buy
              visitor tickets for the expo.</li>
            <li>During the expo attendees can participate in all the activities of the expo, which include:
              <ul class="lead">
                <li>Search by categories and search tags for exhibitors that provides material on specific
                  topics or products.</li>
                <li>Visit the stalls/booths of visitors to watch video presentatations on their offerings and
                  download brochures and other materials and ask the exhibitor questions.</li>
                <li>Listen to any speaker or presentation throughout the duration of the event.</li>
                <li>Attend live workshops at scheduled times.</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <%= image_tag asset_path('400.png'), class: "featurette-image img-fluid mx-auto" %>
        </div>
      </div>
      <hr class="featurette-divider">
    </div>
  </div>
</main>