<div class="nested-fields">
  <div class="jumbotron jumbotron-fluid" style="padding: 15px;">
      <%= f.hidden_field :_destroy %>
      <div class="form-row">
          <div class="form-group col-md-6">
              <%= f.label :image, class: "control-label" %>
              <%= f.file_field :image, class: "control-label" %>
              <% if f.object.image.attached? && f.object.image.variable?%>
              <%= image_tag f.object.image.variant(resize_to_fit: [50, 50]) %>
              <% end %>
          </div>
      </div>
      <div>
          <div class="row justify-content-left">
              <div class="col-3">
                  <%= link_to "Remove", '#', class: "remove_fields btn btn-danger" %>
              </div>
          </div>
      </div>
  </div>
</div>