<div class="nested-fields">
  <div class="jumbotron jumbotron-fluid" style="padding: 15px;">
    <%= f.hidden_field :_destroy %>

    <div class="form-row">
      <div class="form-group col-md-6">
      <%= f.select(:presentation_type, [['Featured Presentation', 'featured'], ['Webcam Interview', 'webcam'], ['Speaker Session', 'speaker']], {include_blank: "Select Presentation Type..."}, { :class => 'form-control'}) %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :"Presentation Title", class: "control-label" %>
        <%= f.text_field :title, class: 'form-control', placeholder: :title  %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :"Name and Last Name", class: "control-label" %>
        <%= f.text_field :name, class: 'form-control', placeholder: :name  %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :"Description on Index Card", class: "control-label" %>
        <%= f.text_area :description, class: 'form-control', placeholder: :description  %>
      </div>
    </div>
    <div class="form-group col-md-6">
      <span data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top"
        data-content="Upload Presenter photo here. It is important to upload jpg, jpeg or PNG image file types. The image dimensions should be around 400X400 pixels">
        <span class="fas fa-info-circle"></span>
      </span>
      <%= f.label :"Photo of Presenter" %>
      <%= f.file_field :avatar %>
      <% if f.object.avatar.attached? && f.object.avatar.variable? %>
      <%= image_tag f.object.avatar.variant(resize_to_fit: [50, 50]) %>
      <% end %>
    </div>
    <div class="form-group col-md-6">
      <span data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top"
        data-content="Upload Banner image here. It is important to upload jpg, jpeg or PNG image file types. The image dimensions should be around 1600X700 pixels. Take note that any text should be placed more towards the center, or not against the sides of the image.">
        <span class="fas fa-info-circle"></span>
      </span>
      <%= f.label :banner %>
      <%= f.file_field :banner %>
      <% if f.object.banner.attached? && f.object.banner.variable? %>
      <%= image_tag f.object.banner.variant(resize_to_fit: [50, 50]) %>
      <% end %>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <h3>Meet the Presenter</h3>
        <%= f.rich_text_area :presentation_presenter_info, class: "form-control" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <h3>About the Presentation</h3>
        <%= f.rich_text_area :about, class: "form-control" %>
      </div>
    </div>
    <div class="form-group col-md-6">
      <fieldset>
        <h3>Information Blocks:</h3>
        <%= f.fields_for :information_blocks do |information_blocks_form| %>
        <%= render "information_block_fields", f: information_blocks_form %>
        <% end %>
        <%= link_to_add_fields "Add information block", f, :information_blocks %>
      </fieldset>
    </div>
    <div class="form-group col-md-6">
      <fieldset>
        <h3>Videos:</h3>
        <%= f.fields_for :videos do |videos_form| %>
        <%= render "video_fields", f: videos_form %>
        <% end %>
        <%= link_to_add_fields " Add Videos", f, :videos %>
      </fieldset>
    </div>
    <div class="row justify-content-left">
      <div class="col-3">
        <%= link_to "Remove Presentation", '#', class: "remove_fields btn btn-danger"  %>
      </div>
    </div>
  </div>
</div>