<% content_for :event_navbar do %>
<%= render 'layouts/event_navbar', event: @event %>
<% end %>
<% content_for :page_title do %>
  <title><%= "#{@event.name} - FAQ" %> </title>
<% end %>
<div class="banner">
  <div class="mx-auto">
    <h1>FAQ</h1>
    <h2><%= @event.name %></h2>
  </div>
</div>
<div class="container">
  <%= @event.faq %>

  <hr>
  <div class="row">
    <div class="col pull-left"><%= link_to 'Back', event_path(@event), class: "btn btn-secondary btn-lg" %></div>
  </div>
</div>
<%= render 'chatra_event' %>
