<% content_for :event_navbar do %>
<%= render 'layouts/event_navbar', event: @event %>
<% end %>

<div class="banner">
  <div class="mx-auto">
    <h1>Virtual Expos platform</h1>
    <h2>Change your password</h2>
  </div>
</div>
<div class="container">
  <%= form_for(resource, as: resource_name, url: password_update_put_event_path(@event), html: { method: :put }) do |f| %>
  <%= render "events/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
  <% end %>

  <%= render "events/shared/links" %>
</div>