<% content_for :event_navbar do %>
<%= render 'layouts/event_navbar', event: @event %>
<% end %>

<div class="banner">
  <div class="mx-auto">
    <h1>Virtual Expos platform</h1>
    <h2>Forgot your password?</h2>
  </div>
</div>
<div class="container">
  <% if notice %>
  <div class="alert alert-warning" role="alert">
    <h4><%= notice %></h4>
  </div>
  <% end %>
  <%= form_for(resource, as: resource_name, url: password_create_event_path(@event), html: { method: :post }) do |f| %>
  <%= render "events/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
  <% end %>

  <%= render "events/shared/links" %>
</div>